@font-face {
    font-family: 'novaboldRg';
    src: url('../fonts/FontsFreeNetproxima_nova_boldwebfont.eot');
    src: url('../fonts/FontsFreeNetproxima_nova_boldwebfont.eot') format('embedded-opentype'),
         url('../fonts/FontsFreeNetproxima_nova_boldwebfont.woff2') format('woff2'),
         url('../fonts/FontsFreeNetproxima_nova_boldwebfont.woff') format('woff'),
         url('../fonts/FontsFreeNetproxima_nova_boldwebfont.ttf') format('truetype'),
         url('../fonts/FontsFreeNetproxima_nova_boldwebfont.svg#FontsFreeNetproxima_nova_boldwebfont') format('svg');
}
@font-face {
    font-family: 'novaRg';
    src: url('../fonts/FontsFreeNetproxima_nova_regwebfont.eot');
    src: url('../fonts/FontsFreeNetproxima_nova_regwebfont.eot') format('embedded-opentype'),
         url('../fonts/FontsFreeNetproxima_nova_regwebfont.woff2') format('woff2'),
         url('../fonts/FontsFreeNetproxima_nova_regwebfont.woff') format('woff'),
         url('../fonts/FontsFreeNetproxima_nova_regwebfont.ttf') format('truetype'),
         url('../fonts/FontsFreeNetproxima_nova_regwebfont.svg#FontsFreeNetproxima_nova_regwebfont') format('svg');
}
@font-face {
    font-family: 'Thin';
    src: url('../fonts/ProximaNovaTThin.eot');
    src: url('../fonts/ProximaNovaTThin.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaTThin.woff2') format('woff2'),
         url('../fonts/ProximaNovaTThin.woff') format('woff'),
         url('../fonts/ProximaNovaTThin.ttf') format('truetype'),
         url('../fonts/ProximaNovaTThin.svg#ProximaNovaTThin') format('svg');
}
@font-face {
    font-family: 'Light';
    src: url('../fonts/ProximaNovaLight.eot');
    src: url('../fonts/ProximaNovaLight.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaLight.woff2') format('woff2'),
         url('../fonts/ProximaNovaLight.woff') format('woff'),
         url('../fonts/ProximaNovaLight.ttf') format('truetype'),
         url('../fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'NovaBold';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaBold.woff2') format('woff2'),
         url('../fonts/ProximaNovaBold.woff') format('woff'),
         url('../fonts/ProximaNovaBold.ttf') format('truetype'),
         url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}
@font-face {
    font-family: 'Nova';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
         url('../fonts/ProximaNovaRegular.woff2') format('woff2'),
         url('../fonts/ProximaNovaRegular.woff') format('woff'),
         url('../fonts/ProximaNovaRegular.ttf') format('truetype'),
         url('../fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
}
body{
    overflow:hidden auto;
}
.container-fluid{
    margin:2% 0 0;
}
.icon-bar,.icon-bar2,.icon-bar3{
    background:#fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin:3px 0 0;
    transition: 1s all ease;
}
[aria-expanded="true"]>.icon-bar{
    transform: rotate(45deg);
}
[aria-expanded="true"]>.icon-bar2{
    transform: translate(0px, -5px) rotate(-45deg);
}
[aria-expanded="true"]>.icon-bar3{
    opacity: 0;
}
.baner{
    position:relative;
    background-image:url(../image/IMG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg{
    position:absolute;
    width: 100%;
    height:100%;
    background-color:rgba(28,36,65,0.95);
}
.baner:before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background:radial-gradient(circle closest-corner at 79% 16%, rgb(28,36,65)22%,transparent);
}
.navbar-nav>li{
    font-size:18px;
    line-height: 48.04px;
    font-family:'Nova';
    color:#fff;
    margin:5px 0 0;
}
.navbar-collapse{
    box-shadow:none;
}
.navbar-nav{
    margin:15px 0 0;
}
.navbar-nav>li>a{
    color:#fff;
}
.navbar-nav>li>a:hover{
    background-color:#00a8ff;
}
@media (max-width: 900px) {
    .navbar-header {
            float: none;
    }
    .navbar-toggle {
            display: block;
    }
    .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
            display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
            float: none!important;
            margin: 7.5px -15px;
    }
    .navbar-nav>li {
            float: none;
    }
    .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
    }
}
.slogan{
    line-height: 1.2;
    font-size: 36px;
    color: #fff;
    font-family: 'Thin';
    position: relative;
    margin:15% auto 54%;
}
@media (min-width: 970px){
    .slogan{
        margin:34% auto 54%;
    }
    .container-fluid {
        margin: 5% 0 0;
    }
}
.slogan p{
    margin:0;
}
.slogan p:last-child{
    font-size:60px;
    font-family:'novaRg';
    font-weight:700;
}
.slogan span{
    color:#00a8ff;
}
@media (max-width: 900px){
    .navbar-collapse {
        box-shadow:none;
    }
}
html,body{
    scroll-behavior: smooth;
}
  
  
